name: Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    container: nimlang/choosenim
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - run: git config --global --add safe.directory "$(pwd)"
      - name: Check exported that everything is exported
        run: |
          find src/necsuspd -name "*.nim" | cut -d/ -f3 | cut -d. -f1 | xargs -n1 echo export | sort > /tmp/exports_expected.txt
          grep "export" src/necsuspd.nim | sort > /tmp/exports_actual.txt
          diff /tmp/exports_expected.txt /tmp/exports_actual.txt
      - run: choosenim update -y 2.2.0
      - run: nimble install --depsOnly --accept
      - run: nimble setup
      - run: nim check -d:simulator src/necsuspd.nim
      - run: nimble test
